nav {
  background-color: rgb(232, 232, 235);
  width: 50%;
  margin: 30px;
  text-align: center;
  padding: 30px;
  box-shadow: 10px 5px 15px;
}
.foto{
  border-left: 20px solid;
  border-left-color: rgba(172, 172, 169, 0.2);
}
.foto:hover{
border-left-width: 40px;
}
.foto2 {
  background-color: rgb(170, 240, 185);
  box-shadow: 10px 5px 15px;
  border-left-color: rgba(74, 243, 110, 0.856);
}
.foto3 {
  background-color: rgb(236, 185, 176);
  box-shadow: 10px 5px 15px;
  border-left-color: rgba(197, 76, 45, 0.856);
}
.foto4 {
  background-color: rgba(228, 173, 24, 0.575);
  box-shadow: 10px 5px 15px;
  border-left-color:  rgba(151, 129, 3, 0.986);
}

a {
  text-decoration: none;
  color: rgb(30, 34, 34);
  margin-right: 30px;
}

.fechar {
  margin-left: 160%;
  opacity: 0%;
}
